.form1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    background-color: #fff;
}
.form1 h1{
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
.form1 h3{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}
.form1 input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.form1 input[type="submit"]{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.form1 input[type="submit"]:hover{
    background-color: #818080;
    color: #000;
}
.details12{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
   
}
.name,.city,.service{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 20px;
}  
.details12 h3{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}
